.header{
    height: 5.5rem;
    display: flex;
    align-items: center;
    background-color: #101010;
    padding: 0 2rem;
    justify-content: space-between;
}
.headerText{
    color: white;
}
.userProfile{
    width: 3.5rem;
    border-radius: 50%;
}
.profileSection{
    display: flex;
    align-items: center;
    gap: 1rem;
}