@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
.App{
    font-family: 'Montserrat';
    min-height: 100vh;
    background-color: #292929;
}
h1,h2,h3,h4{
    margin: 0;
}
hr{
    margin: 0;
    height: 1px;
    background-color: white;
    border: none;
}